* {
    margin: 0px;
    font-family: 'Work Sans';
}

.header{
    background: rgba(255, 144, 14, 0.1);
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 50px;
    margin-left: 228PX;
}

.nav-bar-item{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin: 63px 240px;
}

/* header banner */
.banner-descriptions{
    text-align: center;
    margin:5px 450px;
}

.banner-heading{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: rgb(246, 120, 16);
}

.banner-img{
    margin: 50px 150px ;
    width: 1200px;
    height: 550px;
}

/* teams section */
.teams-intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px 200px;
}

.teams{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 73px;
}

.teams-descriptions{
    margin-top: 300px;
}

.teams-title{
    font-weight: 500;
    font-size: 45px;
}

.title1{
    color: #727272;
}

.title2{
    color: #131313;
}

.title3{
    color: #FF900E;
}

.teams-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}
